<div class="relative overflow-x-auto">
  <table
    class="w-full text-sm text-left text-gray-500 border border-gray-300 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 bg-gray-50 uppercase dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Nazwa właściwości</th>
        <th scope="col" class="px-6 py-3">Wartość</th>
      </tr>
    </thead>
    <tbody id="table-content"></tbody>
    <tbody id="table-content2"></tbody>
  </table>
</div>
